<div class="main">
    <p><%= locals[:message] if locals[:message] != nil%></p>
    <p>Draw!</p>
    <pre><p><%= game.display_current_board %></p></pre>
    <form action="/clear" method="GET">
        <input type="submit" value="Reset game?" class="btn btn-danger">
    </form>
</div>