<div class="main">
    <p><%= locals[:message] if locals[:message] != nil%></p>
    <h2><%="The winner is... #{game.winner.to_s.gsub(/p/, 'P').gsub(/1/, ' 1').gsub(/2/, ' 2')}!"%></h2>
    <pre><p><%= game.display_current_board %></p></pre>
    <form action="/clear" method="GET">
        <input type="submit" value="Reset game?" class="btn btn-danger">
    </form>
</div>